In [6]:
# Create dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
# Load in csv
cities = pd.read_csv('Resources/city_data.csv', index_col='city')
riders = pd.read_csv('Resources/ride_data.csv', index_col='city')

In [19]:
# Display dataframe for city_info
cities.head(10)

                   driver_count   type
city
Tammyburgh                   11  Urban
Melissaborough               15  Urban
Port Brianborough            62  Urban
New Katherine                68  Urban
Lake Charlesside             65  Urban
New Catherine                60  Urban
North Rachaelberg            35  Urban
North Sandra                 43  Urban
Whitneyfurt                  53  Urban
West Nathanville             62  Urban

In [16]:
# Display dataframe for ride_info
riders.head(10)

                                date   fare        ride_id
city
Karenfurt        2017-01-01 19:03:03  32.90  3383346995405
Melissaborough   2017-01-01 08:55:58  19.59  2791839504576
Port Sandraport  2017-01-01 16:21:54  31.04  3341437383289
Curtismouth      2017-01-03 06:36:53  15.12  6557246300691
Port Michael     2017-01-03 09:56:52  19.65  9887635746234
Mathewfurt       2017-01-01 10:14:32  31.13  7748828672001
New Shawnville   2017-01-02 02:22:33  33.50  2866006632892
Melissaborough   2017-01-02 18:40:34  17.73  6817245215298
Port Stacyfort   2017-01-03 12:25:25  30.22  4258832825186
Port Albert      2017-01-02 13:32:21   7.59  1130658609474